__pycache__/analytical_solution.cpython-312.pyc
__pycache__/models.cpython-312.pyc
__pycache__/noise_generator.cpython-312.pyc
__pycache__/training.cpython-312.pyc
plots/alpha_estimate.png
plots/noisydata.png
plots/inversion/heat_eq_inversion_epoch0.png
plots/inversion/heat_eq_inversion_epoch500.png
plots/inversion/heat_eq_inversion_epoch1000.png
plots/inversion/heat_eq_inversion_epoch1500.png
plots/inversion/heat_eq_inversion_epoch2000.png
plots/inversion/heat_eq_inversion_epoch2500.png
plots/alpha_estimate.png
plots/noisydata.png
plots/inversion/heat_eq_inversion_epoch3000.png
plots/inversion/heat_eq_inversion_epoch3500.png
plots/inversion/heat_eq_inversion_epoch4000.png
plots/inversion/heat_eq_inversion_epoch4500.png
plots/inversion/heat_eq_inversion_epoch5000.png
plots/training/heat_eq_epoch0.png
plots/training/heat_eq_epoch500.png
plots/noisydata.png
plots/alpha_estimate.png
plots/training/heat_eq_epoch1500.png
plots/training/heat_eq_epoch1000.png
plots/training/heat_eq_epoch2000.png
plots/training/heat_eq_epoch2500.png
plots/training/heat_eq_epoch3000.png
plots/training/heat_eq_epoch3500.png
plots/training/heat_eq_epoch4000.png
plots/training/heat_eq_epoch4500.png
plots/training/heat_eq_epoch5000.png
plots/alpha_estimate.png
plots/noisydata.png
__pycache__/analytical_solution_source.cpython-312.pyc
__pycache__/analytical_solutions.cpython-312.pyc
