__pycache__/analytical_solution.cpython-312.pyc
__pycache__/models.cpython-312.pyc
plots/source/training/heat_eq_source_epoch5000.png
plots/source/training/heat_eq_source_epoch4500.png
plots/source/training/heat_eq_source_epoch4000.png
plots/source/training/heat_eq_source_epoch3500.png
plots/source/training/heat_eq_source_epoch3000.png
plots/source/training/heat_eq_source_epoch2500.png
plots/source/training/heat_eq_source_epoch2000.png
plots/source/training/heat_eq_source_epoch1500.png
plots/source/training/heat_eq_source_epoch1000.png
plots/source/training/heat_eq_source_epoch500.png
plots/source/training/heat_eq_source_epoch0.png
plots/source/inversion/heat_eq_inv_source_epoch5000.png
plots/source/inversion/heat_eq_inv_source_epoch4500.png
plots/source/inversion/heat_eq_inv_source_epoch4000.png
plots/source/inversion/heat_eq_inv_source_epoch3500.png
plots/source/inversion/heat_eq_inv_source_epoch3000.png
plots/source/inversion/heat_eq_inv_source_epoch2500.png
plots/source/inversion/heat_eq_inv_source_epoch2000.png
plots/source/inversion/heat_eq_inv_source_epoch1500.png
plots/source/inversion/heat_eq_inv_source_epoch1000.png
plots/source/inversion/heat_eq_inv_source_epoch500.png
plots/source/inversion/heat_eq_inv_source_epoch0.png
plots/source/noisydata.png
plots/source/alpha_estimate.png
plots/nosource/training/heat_eq_train_epoch5000.png
plots/nosource/training/heat_eq_train_epoch4500.png
plots/nosource/training/heat_eq_train_epoch4000.png
plots/nosource/training/heat_eq_train_epoch3500.png
plots/nosource/training/heat_eq_train_epoch3000.png
plots/nosource/training/heat_eq_train_epoch2500.png
plots/nosource/training/heat_eq_train_epoch2000.png
plots/nosource/training/heat_eq_train_epoch1500.png
plots/nosource/training/heat_eq_train_epoch1000.png
plots/nosource/training/heat_eq_train_epoch500.png
plots/nosource/training/heat_eq_train_epoch0.png
plots/nosource/inversion/heat_eq_inv_epoch5000.png
plots/nosource/inversion/heat_eq_inv_epoch4500.png
plots/nosource/inversion/heat_eq_inv_epoch4000.png
plots/nosource/inversion/heat_eq_inv_epoch3500.png
plots/nosource/inversion/heat_eq_inv_epoch3000.png
plots/nosource/inversion/heat_eq_inv_epoch2500.png
plots/nosource/inversion/heat_eq_inv_epoch2000.png
plots/nosource/inversion/heat_eq_inv_epoch1500.png
plots/nosource/inversion/heat_eq_inv_epoch1000.png
plots/nosource/inversion/heat_eq_inv_epoch500.png
plots/nosource/inversion/heat_eq_inv_epoch0.png
plots/nosource/noisydata.png
plots/nosource/alpha_estimate.png
__pycache__/train_and_inversion.cpython-312.pyc
__pycache__/noise_generator.cpython-312.pyc
plots/nosource/alpha_estimate.png
plots/nosource/noisydata.png
plots/nosource/inversion/heat_eq_inv_epoch0.png
plots/nosource/inversion/heat_eq_inv_epoch2500.png
plots/nosource/inversion/heat_eq_inv_epoch5000.png
plots/nosource/training/heat_eq_train_epoch0.png
plots/nosource/training/heat_eq_train_epoch2500.png
plots/nosource/training/heat_eq_train_epoch5000.png
plots/source/alpha_estimate.png
plots/source/noisydata.png
plots/source/inversion/heat_eq_inv_source_epoch0.png
plots/source/inversion/heat_eq_inv_source_epoch2500.png
plots/source/inversion/heat_eq_inv_source_epoch5000.png
plots/source/training/heat_eq_source_epoch0.png
plots/source/training/heat_eq_source_epoch2500.png
plots/source/training/heat_eq_source_epoch5000.png
